*{
	margin: 0;
	padding: 0;
}

body{
	font-family: verdana, geneva, arial, sans-serif;
	text-align: center;
}

.wrapper{
	width: 90%;
	margin: 0 auto;
}
header{
	width: 100%;
	height: 100px;
	background: #363636;
	position: fixed;
}
.logo{
	width: 30%;
	float: left;
	text-align: left;
	line-height: 100px;
}

.logo a{
	text-decoration: none;
	font-size: 30px;
	font-family: Arial;
	color: #FFC125;
	letter-spacing: 4px;
}
nav{
	float: right;
	line-height: 100px;
}

nav a{
	text-decoration: none;
	font-family: Arial;
	letter-spacing: 4px;
	color: #FFC125;
	padding: 36px 10px;
	margin: 0px;
}

nav a:hover{
	background: #556B2F;
	color: red;
}

.banner-area{
	background-image: url(logo.jpg);

}